<section class="container standardHeight">
    <h2 class="text-center mt-5">Création de post</h2>
    <div>
        <form class="spacingContainer" (ngSubmit)="savePost(form)" #form="ngForm">
            <section class="form-group">
                <label for="formGroupExampleInput">Nom du post</label>
                <input #postInput="ngModel" ngModel name="title" type="text"
                [ngClass]="{'is-invalid' : form.submitted && (postInput.errors?.required || postInput.errors?.minlength)}"
                type="text" class="form-control" placeholder="La météo de Montpellier...." minlength="5" required>
                <div *ngIf="form.submitted && postInput.invalid">
                    <!--Message si le champ est vide -->
                   <small class="form-text text-danger" *ngIf="postInput.errors?.required">
                       Le post ne peut pas être vide
                   </small>
                   <!--Message si le champs n'a pa au moin 5 caractères -->
                   <small class="form-text text-danger" *ngIf="postInput.errors?.minlength">
                       Le post doit contenir au moin 5 caractères
                   </small>
               </div>                
            </section>
            <div class="text-right mt-5">
                <button class="btn btn-primary" type=submit>Valider</button>
            </div>
        </form>
    </div>
</section>