<section class="container standardHeight">
    <h2 class="text-center mt-5">Editer une rubrique</h2>
    <div>
        <form class="spacingContainer">
            <section class="form-group">
                <label for="formGroupExampleInput">Nom de la rubrique</label>
                <input type="text" class="form-control" placeholder="Métélogie....">
            </section>
            <div class="text-right mt-5">
                <button class="btn btn-primary" type=submit>Valider </button>
            </div>
        </form>
    </div>
</section>
