<!--BOUTON SAMEDI 20-->
<div class="container mt-5">
  <div class="col-md-4">
    <button type="button" class="btn btn-outline-success">Samedi 20</button>
  </div>
</div>

<!--BOUTON MATIN ------------------------------------------------------------------MATIN--------->
<div class="container d-flex mt-5">
  <div class="col-md-2 mt-2">
    <button type="button" class="btn btn-secondary btn-lg" disabled>
      Matin
    </button>
  </div>

  <div class="col-md-6 d-flex justify-content-evenly border">
    <!--NUAGE 12°C-->
    <div class="col-md-4">
      <p>
        <td>
          <img
            src="http://openweathermap.org/img/wn/03n@2x.png"
            width="50px"
            height="50px"
            alt=""
          />12°C
        </td>
      </p>
    </div>

    <!--GOUTTE 32%-->
    <div class="col-md-4 mt-2">
      <p>
        <td>
          <img
            src="https://www.flaticon.com/svg/vstatic/svg/850/850683.svg?token=exp=1620207473~hmac=699f8bb19d8533bdca18ca97b3321e61"
            width="24"
            height="24"
            alt="goutte d'eau"
            title="goutte d'eau"
          />32%
        </td>
      </p>
    </div>

    <!--FLECHE VENT 31.5 km/h-->
    <div class="col-md-4 mt-2">
      <p>
        <img
          class="thumb image-max-width show loaded"
          data-pin-no-hover="true"
          src="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          width="26"
          height="30"
          alt="Symbole De L'eau Et Icône Logo Template Vecteur Premium"
          onerror="this.onerror=null;ga('send', 'event', 'broken_image', 'detail', '5417_2154900');"
          data-real-image="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          data-src="https://img.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg?size=626&amp;ext=jpg"
          style="width: 26px"
        />31.5 km/h
      </p>
    </div>
  </div>
</div>

<!--BOUTON SOIR ------------------------------------------------------------------SOIR--------->
<div class="container d-flex mt-3">
  <div class="col-md-2 mt-2">
    <button type="button" class="btn btn-secondary btn-lg" disabled>
      Soir
    </button>
  </div>

  <div class="col-md-6 d-flex justify-content-evenly border">
    <!--SOLEIL 15°C-->
    <div class="col-md-4">
      <p>
        <td>
          <img
            src="http://openweathermap.org/img/wn/01d@2x.png"
            width="50px"
            height="50px"
            alt=""
          />15°C
        </td>
      </p>
    </div>

    <!--GOUTTE 25%-->
    <div class="col-md-4 mt-2">
      <p>
        <td>
          <img
            src="https://www.flaticon.com/svg/vstatic/svg/850/850683.svg?token=exp=1620207473~hmac=699f8bb19d8533bdca18ca97b3321e61"
            width="24"
            height="24"
            alt="goutte d'eau"
            title="goutte d'eau"
          />25%
        </td>
      </p>
    </div>

    <!--FLECHE VENT 25.5 km/h-->
    <div class="col-md-4 mt-2">
      <p>
        <img
          class="thumb image-max-width show loaded"
          data-pin-no-hover="true"
          src="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          width="26"
          height="30"
          alt="Symbole De L'eau Et Icône Logo"
        />25.5 km/h
      </p>
    </div>
  </div>
</div>

<!--BOUTON DIMANCHE 21-->
<div class="container mt-5">
  <div class="col-md-4">
    <button type="button" class="btn btn-outline-success">Dimanche 21</button>
  </div>
</div>

<!--BOUTON MATIN ------------------------------------------------------------------MATIN--------->
<div class="container d-flex mt-5">
  <div class="col-md-2 mt-2">
    <button type="button" class="btn btn-secondary btn-lg" disabled>
      Matin
    </button>
  </div>

  <div class="col-md-6 d-flex justify-content-evenly border">
    <!--NUAGE 12°C-->
    <div class="col-md-4">
      <p>
        <td>
          <img
            src="http://openweathermap.org/img/wn/03n@2x.png"
            width="50px"
            height="50px"
            alt=""
          />12°C
        </td>
      </p>
    </div>

    <!--GOUTTE 32%-->
    <div class="col-md-4 mt-2">
      <p>
        <td>
          <img
            src="https://www.flaticon.com/svg/vstatic/svg/850/850683.svg?token=exp=1620207473~hmac=699f8bb19d8533bdca18ca97b3321e61"
            width="24"
            height="24"
            alt="goutte d'eau"
            title="goutte d'eau"
          />32%
        </td>
      </p>
    </div>

    <!--FLECHE VENT 31.5 km/h-->
    <div class="col-md-4 mt-2">
      <p>
        <img
          class="thumb image-max-width show loaded"
          data-pin-no-hover="true"
          src="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          width="26"
          height="30"
          alt="Symbole De L'eau Et Icône Logo Template Vecteur Premium"
          onerror="this.onerror=null;ga('send', 'event', 'broken_image', 'detail', '5417_2154900');"
          data-real-image="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          data-src="https://img.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg?size=626&amp;ext=jpg"
          style="width: 26px"
        />31.5 km/h
      </p>
    </div>
  </div>
</div>

<!--BOUTON SOIR ------------------------------------------------------------------SOIR--------->
<div class="container d-flex mt-3">
  <div class="col-md-2 mt-3">
    <button type="button" class="btn btn-secondary btn-lg" disabled>
      Soir
    </button>
  </div>

  <div class="col-md-6 d-flex justify-content-evenly border">
    <!--SOLEIL 15°C-->
    <div class="col-md-4">
      <p>
        <td>
          <img
            src="http://openweathermap.org/img/wn/01d@2x.png"
            width="50px"
            height="50px"
            alt=""
          />15°C
        </td>
      </p>
    </div>

    <!--GOUTTE 25%-->
    <div class="col-md-4 mt-2">
      <p>
        <td>
          <img
            src="https://www.flaticon.com/svg/vstatic/svg/850/850683.svg?token=exp=1620207473~hmac=699f8bb19d8533bdca18ca97b3321e61"
            width="24"
            height="24"
            alt="goutte d'eau"
            title="goutte d'eau"
          />25%
        </td>
      </p>
    </div>

    <!--FLECHE VENT 25.5 km/h-->
    <div class="col-md-4 mt-2">
      <p>
        <img
          class="thumb image-max-width show loaded"
          data-pin-no-hover="true"
          src="https://image.freepik.com/vecteurs-libre/symbole-eau-icone-logo-template_5417-131.jpg"
          width="26"
          height="30"
          alt="Symbole De L'eau Et Icône Logo"
        />25.5 km/h
      </p>
    </div>
  </div>
</div>
