<div class="container fluid">
  <div class="mapIndicator">
    <div class="row">
      <div class="col-md-6">
        <div class="row" style="margin-bottom: 2em">
          <h5>Qualité de l'air chez moi - Détails</h5>
          <h6>{{ currentCity }} - {{ dayOfTheWeek }} {{ currentDayData[0]?.dateHour }}</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-quality-air-at-home-card [currentDayData]='currentDayData'></app-quality-air-at-home-card>
      </div>
      <div class="col-md-6">
        <app-quality-air-at-home-pollutants></app-quality-air-at-home-pollutants>
      </div>
  </div>

  <div class="container w-100">
    <div class="col-md-10">
      <div class="" style="margin-top: 6em"></div>
        <div class="quality-air-at-home-pollutantslist">
          <app-quality-air-at-home-pollutantslist></app-quality-air-at-home-pollutantslist>
        </div>
    </div>
  </div>
</div>
