<div class="row text-center footerBackground footerSpacing">
    <div class="col-sm ">
        <p class="textPos">© 2021 - ARIMASU - Tout droit réservé</p>
    </div>
    <div class="col-sm">
        <p class="textPos">Mentions légales | <a class="linkCredential" href="#">Contact</a></p>
    </div>
    <div class="justify-content-center row col-sm">
        <p class="textPos mr-3">Github :</p>
        <div class="d-flex flex-column">
            <a class="linkCredential" href="https://github.com/Minipirate">Agnes </a>
            <a class="linkCredential" href="https://github.com/AlexisGoup">Alexis GOUPILLOT</a>
            <a class="linkCredential" href="https://github.com/lardio">Sylvain Lardiere</a>
            <a class="linkCredential" href="https://github.com/TomCermelli">Tom CERMELLI</a>
        </div>
    </div>
</div>