<div class="d-flex">
  <button type="button" class="btn btn-secondary mr-5">
    Montpellier - Météo
  </button>
  <button type="button" class="btn btn-secondary mr-3">
    Montpellier - Qualité de l'air
  </button>
</div>

<div class="input-group mb-6 mt-5">
  <input
    type="text"
    placeholder="Je choisis ma région !"
    aria-label="Recipient's region"
    aria-describedby="basic-addon2"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button">Okay !</button>
  </div>
</div>
