
  <div class="d-flex">
    <button type="button" class="btn btn-secondary mr-5">
      Montpellier - Météo
    </button>
    <button type="button" class="btn btn-secondary mr-3">
      Montpellier - Qualité de l'air
    </button>
  </div>
  
  <div class="mt-5">
    <button type="button" class="btn btn-outline-info mr-3" (click)="onClickTomorrow()">
      Demain
    </button>
    <button type="button" class="btn btn-info mr-3" (click)="onClickWeekend()">
      Ce week-end
    </button>
    <button type="button" class="btn btn-outline-info mr-3" (click)="onClickHours()">
      Heure par heure
    </button>
    <button type="button" class="btn btn-outline-info mr-3" (click)="onClickRegion()">
      Région
    </button>
  </div>
  