<div class="container-fluid">
  <div class="mapIndicator" style="margin-bottom: 10%;">
    <div class="row" style="margin-bottom: 1em">
      <div class="col-md-5">
        <h3>Meteo et Qualite de l'air chez moi</h3>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="font-size:x-small; margin-top: 3%;">Voir plus</button>
      </div>
      <div class="col-md-5" style="text-align: right; padding: 0px; color: grey;">
        <p>{{currentCity}}, {{ currentDay }} {{ townDatas[0]?.dateHour }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="indicator">
          <div class="row" >
            <app-card-weather style="width:100%;" [townDatas]="townDatas"></app-card-weather>
          </div>
          <app-indicator-weather [previsionDatas]="previsionDatas"></app-indicator-weather>
        </div>
      </div>
      <div class="col-md-8">
        <app-map-quality-air></app-map-quality-air>
      </div>
    </div>
  </div>
</div>
