.mapIndicator {
    height: 100%;
    width: 100%;
    padding: 4em;
}

h5 {
    color: blue;
}

.indicator {
    height: 20em;
}

 .highest-polluant {
     background-color: white;
     border-radius: 0.3em;
     font-size: small;
     margin-top: 1.25em;
 }