<div class="border rounded p-3 mb-3 mt-3" *ngFor="let post of posts">
    <section class="row">
        <section class="align-self-center col-md-9">
            <a class="visualLink" routerLink="/forum/message/{{post.id}}">
                <h3 class="headingTitle ">{{post?.title}}</h3>
            </a>
        </section>
        <section class="col-md-3 text-right">
            <section>
                <a class="visualLink" routerLink="/forum/post/edit/{{post.id}}"><button class="btn btn-success mr-4"><i
                            class="fa fa-pencil fa-2x"></i></button></a>
                <a class="btn btn-danger" (click)="deletePost(post)"><i class="fa fa-trash fa-2x"></i></a>
            </section>
        </section>
    </section>
</div>