<section class="container standardHeight">
    <h2 class="text-center mt-5">Création d'un message</h2>
    <div>
        <form class="spacingContainer" (ngSubmit)="saveMessage(form)" #form="ngForm">
            <section class="form-group">
                <label for="formGroupExampleInput">Message</label>
                <input #message="ngModel" ngModel name="content" type="text"
                [ngClass]="{'is-invalid' : form.submitted && message.errors?.required}"
                type="text" class="form-control" placeholder="Je ne pense pas que...." required>
                <!--Message si le champ est vide -->
                <small class="invalid-feedback" *ngIf="form.submitted && message.errors?.required">
                    Le message ne peut pas être vide
                </small>
            </section>
            <div class="text-right mt-5">
                <button class="btn btn-primary" type=submit>Valider</button>
            </div>
        </form>
    </div>
</section>
