<section class="container standardHeight">
    <h2 class="text-center mt-5">Création d'un message</h2>
    <div>
        <form class="spacingContainer" (ngSubmit)="saveMessage(form)" #form="ngForm">
            <section class="form-group">
                <label for="formGroupExampleInput">Message</label>
                <input #messageInput="ngModel" ngModel name="content" type="text"
                [ngClass]="{'is-invalid' : form.submitted && (messageInput.errors?.required || messageInput.errors?.minlength)}"
                type="text" class="form-control" placeholder="Je ne pense pas que...." minlength="10" required>

                <div *ngIf="form.submitted && messageInput.invalid">
                    <!--Message si le champ est vide -->
                   <small class="form-text text-danger" *ngIf="messageInput.errors?.required">
                       Le message ne peut pas être vide
                   </small>
                   <!--Message si le champs n'a pa au moin 5 caractères -->
                   <small class="form-text text-danger" *ngIf="messageInput.errors?.minlength">
                       Le message doit contenir au moin 10 caractères
                   </small>
               </div>
                
            </section>
            <div class="text-right mt-5">
                <button class="btn btn-primary" type=submit>Valider</button>
            </div>
        </form>
    </div>
</section>
